/* styles.css */

/* CSS styles for the game container */
#game-container {
    position: relative;
    width: 500px;
    height: 700px;
    background-image: url("img/space.jpeg");
  }
  
  /* CSS styles for the player */
  #player {
    position: absolute;
    top: 650px;
    left: 225px;
    width: 50px;
    height: 50px;

  }
  
  /* CSS styles for the enemies */
  .enemy {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("img/ufo.png"); /* Path to your enemy image */
    background-size: cover;
  }

  
  /* CSS styles for the bullets */
  .bullet {
    position: absolute;
    width: 5px;
    height: 20px;
    background-color: yellow;
  }
  
  /* CSS styles for the additional life */
  .additional-life {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("/img/heart.png");
    background-size: cover;
  }
  
  /* CSS styles for the score and lives */
  #score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  #lives{
    position: absolute;
    top: 10px;
    left: 450px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  #level{
    position: absolute;
    top: 10px;
    left: 210px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }